<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings PrivateEvents user</h1>
    <p>
    This <%= @event.name %> has had some information changed.
    Make sure you review the updated event info at your earliest opportunity.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
