<div class="default_layout">
<div>
  <%= render "static_files/bottom_nav" %>
</div>
<div>
<%= render "static_files/top_nav" %>
<div class="main_body_container">
<div class="all_events_container">
Events
<% @event.each do |event| %>
    <div>
    Event title: <%= link_to "#{event.name}", event_path(event) %> 
    </div>
    <div>
    Event preview: <%= event.description %>
    </div>
    <% end %>
    </div>
    </div>
</div>