<div class="bottom_nav_bar">
    <div class="title">
      <h2>
        <div>
          Private
        </div>
        <div>
          Events
        </div>
      </h2>
    </div>
    <div>
        Featured events
    </div>
</div>