<div class="bottom_nav_bar">
    <div class="title">
      <h2>
        <div>
          Private
        </div>
        <div>
          Events
        </div>
      </h2>
    </div>
    <div class="side_panel">
      <div class="panel_link">
        Featured events.
      </div>
      <div class="panel_link">
        Created events.
      </div>    
      <div class="panel_link">
        Upcoming Events.
      </div>
    </div>
</div>