<div class="bottom_nav_bar">
<div>
About
<div>
Our history.
</div>
<div>
Our mission.
</div>
<div>
Our commitments.
</div>
</div>
<div>
Products
<div>
Event shoutouts.
</div>
<div>
Event catering.
</div>
<div>
Event fee processing.
</div>
</div>
<div>
General information.
<div>
<div>
Pet policy.
</div>
<div>
Food policy.
</div>
<div>
Refund policy.
</div>
</ul>
</div>
</div>
</div>