<div class="header">im a heacer div</div>
<div class="weather_boxes">
  <div class="weather_panel"> im the weather box </div>
  <div class="info_panel">im a search plus reccomendations</div>
</div>
<div class="daily_forecast">im the daily forecast</div>
