/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
   height: 100%;
}

.advanced_event_options {
    height: 75%;
}

.advanced_options_headings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.advanced_option_tab {
    border: solid black 2px;
    padding: 5px;
    background-color: rgb(167, 164, 164);
    cursor: default;
}

.advanced_option_tab:hover {
    background-color: grey;
}

.all_events_container {
    min-width: 50%;
    height: 50%;
    overflow: auto; 
    border: ridge 3px red;
    box-shadow:5px 3px 3px black;
}

.all_created_events {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    flex-direction: column;
    overflow: auto;
}

.all_events_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 400px;
    align-self: center;
    height: 100%;
    overflow: auto;
    margin-top: 25px;
    border-style: ridge ;
    padding: 5px;
}

.attended_events_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: whitesmoke;
    height: 85%;
    
}

.attended_events {
    height: 100%;
    overflow: auto;
}

.bottom_nav_bar {
    display: grid;
    grid-template-rows: 3% 95%;
    justify-content: space-evenly;
    background-color: beige;
    color: black;
    align-items: center;
    height: 100%;
 }

 .center_alignment {
     display: flex;
     height: 100%;
     justify-content: space-around;
     flex-direction: column;
 }

.description {
    display: none;
    animation-duration: 2s;
    animation-name: fadein;
}

.description_button {
    cursor: pointer;
}

.event_invite_table  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event_options {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 45px;
}

.event_promo_codes {
    display: none; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_container {
    min-height: 100%;    
    background-color: #9dbeb7;
    color: white;
    border: thick;
    border-color: blue;
}

.main_body_container {
    display: flex; 
    flex-direction: row;
    height: 75%;
    background-color: skyblue;
}


.main_body_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.new_event_container {
    height: 65%;
    border: ridge 3px red;
    box-shadow:5px 3px 3px black;
}

.title {
    font-style: italic;
    height: 10%;
}

.top_nav_bar {
    display: flex;
    justify-content: space-evenly;
    height: 12.5%;
    background-color: #FF7276;
    color: black;
    align-items: center;
 }

.created_event {
    width: 150px;
    height: 150px;
    overflow: auto; 
    border: ridge 3px red;
    box-shadow:5px 3px 3px black;
    color: black;
}

.default_layout {
    display: grid;
    grid-template-columns: 20% 80%;
    height:100%;
}


.guest_list {
    overflow: auto;
    height: 100%;
}

.fade_in_content {
    display: flex;
    justify-content: space-evenly;
    animation-duration: 2s;
    animation-name: fadein;
}

.fade_in_event {
    display: flex;
    justify-content: space-evenly;
    animation-duration: 1s;
    animation-name: fadein;
}

.fade_in_event_style {
    width: 50%;
    height: 50%;
    overflow: auto; 
    border: ridge 3px red;
    box-shadow:5px 3px 3px black;
    padding: 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gate {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.main_home_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    animation-duration: 2s;
    animation-name: slidein;
    justify-items: center;
}

@media screen and (max-width: 600px) {
    .all_events_container {
       width: 80%;
    }
 }

.slide_in_header {
    animation-duration: 2s;
    animation-name: slidein;
    text-align: center;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
      }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.sign_in {
    border: groove;
    padding: 15px;
}

.event_choice {
    margin-top: 10px;
    border-top: groove 2px red;
    padding: 5px;
}

.registration_display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    border: ridge 3px red;
    box-shadow:5px 3px 3px black;
}

.user_edit {
    border-bottom: double 2px red;
    margin-top: 3px;
    margin-bottom: 3px;
}
.link_style {
    background-color: rgb(180, 180, 180)    ;
    text-decoration-color: rgb(1, 10, 10);
    border-color: black;
    border: solid 1px;
    padding: 3px;
    box-shadow:5px 3px 3px black;
}

.button_style {
    box-shadow:5px 3px 3px black;
}

.devise_link {
    width: 30%;
    margin: auto;
    margin-bottom: 5px;
}

.remember_me_link {
    margin: auto;
    margin-left: 10%;
}

